/* Index Layout */
.index-content {
  font-family: "Segoe UI", sans-serif;
  background: url(../assets/images/png/planets_home.png);
  background-size: 100%;
  background-position-x: 30px;
  background-repeat: repeat;
  min-height: calc(100vh - 47px);
  position: relative;
}

/* Login Layout */
.login {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 80px;
}

.login-section {
  text-align: center;
  align-self: center;
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.login-section img {
  width: 75%;
  position: relative;
}

.login-section .subtitle-container {
  text-align: center;
  margin: 1rem 0 1.5rem 0;
  display: flex;
  flex-direction: column;
}

.login-section .subtitle {
  color: #ffffff;
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 2rem;
  margin: 0;
  align-self: center;
}

.login-section .user {
  align-self: center;
  outline: none;
  font-family: "Voyager";
  border-radius: 30px;
  width: 25rem;
  height: 3.5rem;
  border: 1px solid #ffffff;
  text-align: center;
  color: #ffffff;
  background: #000000;
  font-size: 1.25rem;
}

/* Twitter */
.login-section .sign_twitter {
  margin-top: 1rem;
  color: #ffffff;
  font-size: 1.1rem;
  margin-bottom: 2.5rem;
}

.login-section .sign_twitter a {
  text-decoration: underline;
  color: #ffffff;
}

/* Form */
form {
  display: flex;
  padding-top: 2rem;
  flex-direction: column;
  align-items: center;
}

.login-section .user::placeholder {
  color: #9c989e;
  opacity: 1; /* Firefox */
}

.login-section .user:focus::placeholder {
  color: transparent;
}

.login-section .user:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #9c989e;
}

.login-section .user::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #9c989e;
}

/* Media Queries */
@media (max-width: 768px) {
  form {
    padding-top: 2rem;
  }

  .login-section {
    width: 90%;
  }

  .login-section .user {
    width: 20rem;
    height: 2.5rem;
  }

  .login-section img {
    width: 50%;
  }

  .login-section .subtitle {
    font-size: 1.5rem;
  }

  .custom-button {
    max-width: 100%;
  }
}
