/* Index Layout */
.index-content {
    font-family: "Segoe UI", sans-serif;
    background: url(../assets/images/png/planets_home.png);
    background-size: 100%;
    background-position-x: 30px;
    background-repeat: repeat;
    min-height: calc(100vh - 47px);
    position: relative;
}

/* Leaderboard link */
.leaderboard-link {
    height: 30px;
    margin-top: 20px;
    margin-left: 50%;
    color: white;
    font-family: Voyager;
    font-size: 1rem;
    line-height: 20px;
    text-align: left;
    display: grid;
    grid-template-columns: 60px 200px;
    grid-template-rows: 40px 40px;
    justify-items: start;
    align-items: end;
}

    .leaderboard-link img {
        width: auto;
        height: 100px;
    }

    .leaderboard-link a {
        color: #FFAA44;
        align-self: start;
        text-decoration: none;
        font-size: 1.2rem;
    }

/* Login Layout */
.login {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 4rem;
}

.login-section {
    text-align: center;
    align-self: center;
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;
}

    .login-section .custom-button {
        margin: 1rem;
    }

    .login-section img {
        height: 100%;
        grid-row: 1 / span 2;
        /* position: relative; */
    }

    .login-section .subtitle-container {
        text-align: center;
        margin: 1rem 0 1.5rem 0;
        display: flex;
        flex-direction: column;
    }

    .login-section .subtitle {
        color: #ffffff;
        font-family: "Work Sans", sans-serif;
        font-weight: 300;
        font-size: 1.5rem;
        margin: 0;
        align-self: center;
    }

    .login-section .wait-text {
        color: #ffffff;
        font-family: "Work Sans", sans-serif;
        font-weight: bold;
        font-size: 2rem;
        margin: 3rem 0;
        align-self: center;
    }

    .login-section .token-link {
        width: 100%;
        font-size: 1rem;
    }

    .login-section .user {
        width: 25rem;
        font-size: 1.25rem;
    }

    .login-section .token-link,
    .login-section .user {
        font-family: "Voyager";
        align-self: center;
        outline: none;
        border-radius: 30px;
        border: 1px solid #ffffff;
        text-align: center;
        color: #ffffff;
        background: #000000;
        height: 3.5rem;
    }

    /* Twitter */
    .login-section .sign_twitter {
        margin-top: 1rem;
        color: #ffffff;
        font-size: 1.1rem;
        margin-bottom: 2.5rem;
    }

        .login-section .sign_twitter a {
            text-decoration: underline;
            color: #ffffff;
        }

/* Form */
form {
    display: flex;
    padding-top: 2rem;
    flex-direction: column;
    align-items: center;
}

.login-section input::placeholder {
    color: #9c989e;
    opacity: 1; /* Firefox */
}

.login-section input:focus::placeholder {
    color: transparent;
}

.login-section input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #9c989e;
}

.login-section input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #9c989e;
}

/* Media Queries */
@media (max-width: 768px) {
    form {
        padding-top: 2rem;
    }

    .login-section {
        width: 90%;
    }

        .login-section .user {
            width: 20rem;
            height: 2.5rem;
        }

        .login-section img {
            width: 50%;
        }

        .login-section .subtitle {
            font-size: 2.3rem;
        }

    .custom-button {
        max-width: 100%;
    }
}
