@page
@model RPSLS.ModelUploader.Web.UploadModel
@{
    ViewData["Title"] = "Upload";
}

<h2>Upload your Custom Vision Model</h2>

<form id="form" method="post" enctype="multipart/form-data">
    <input id="file" type="file" asp-for="Model" />
    <label for="file" class="custom-button">upload file</label>
</form>
