@layout MainLayout
@inherits LayoutComponentBase
@inject SvgHelper svgHelper
@inject IOptions<MultiplayerSettings> MultiplayerSettings

<div class="game-content">
    <div class="header-layout">
        <div class="header-layout-item">
                <div class="home-link">
                    <div class="home-link-info">
                        <a href="/">HOME</a>
                    </div>
                </div>
        </div>
        <div class="header-layout-item header-layout-item--large">
            <RPSLS.Web.Components.MainTitle Title="@Title" ShowHelp="@ShowHelp"></RPSLS.Web.Components.MainTitle>
        </div>
        <div class="header-layout-item">
            @if (ShowLeaderboardLink)
            {
                <RPSLS.Web.Components.LeaderboardLink MultiplayerSettings="MultiplayerSettings.Value" />
            }
        </div>
    </div>
    <div class="console">
        <div class="console-content">
            <div class="console-controls">
                @svgHelper.GetImage($"/assets/images/svg/controls_left.svg")
            </div>
            <CascadingValue Value="this">
                @Body
            </CascadingValue>
            <div class="console-controls">
                @svgHelper.GetImage($"/assets/images/svg/controls_right.svg")
            </div>
        </div>
    </div>
</div>

@if (ShowGithub)
{
    <div class="github">
        <a class="github-text" target="_blank" href="https://github.com/microsoft/RockPaperScissorsLizardSpock">Get the code from GitHub</a>
    </div>
}


@code
{
    string Title { get; set; }
    bool ShowHelp { get; set; }
    bool ShowGithub = false;
    bool ShowLeaderboardLink = false;



    public void Initialize(string title, bool withHelp, bool hasToShowGithub = false, bool hasToShowLeaderboardLink = false)
    {
        this.Title = title;
        this.ShowHelp = withHelp;
        this.ShowGithub = hasToShowGithub;
        this.ShowLeaderboardLink = hasToShowLeaderboardLink;
        this.StateHasChanged();
    }
}