<div class="footer">
    <div class="footer-text">
        <span class="footer-text-copy">
            <a class="footer-text-link" href="http://www.samkass.com/theories/RPSSL.html" target="_blank">Rock Paper Scissors Lizard Spock</a>
            &nbsp;invented by Sam Kass and Karen Bryla
            <span class="footer-text-cc">c</span>
        </span>
    </div>
    <span class="footer-privacy">
        <a class="footer-text-link" target="_blank" href="https://privacy.microsoft.com/en-gb/privacystatement">Privacy</a>
    </span>
</div>
