<div class="footer">
    <div class="footer-text">
        <span class="footer-text-copy">
            <a class="footer-text-link" href="http://www.samkass.com/theories/RPSLS.html" target="_blank">Rock Paper Scissors Lizard Spock</a>
            created by Sam Kass and Karen Bryla
            <span class="footer-text-cc">c</span>
        </span>
    </div>
    <span class="footer-privacy">
        <a class="footer-text-link" target="_blank" href="https://privacy.microsoft.com/en-gb/privacystatement">Privacy</a>
        <a class="footer-text-link" target="_blank" href="https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRyg-YAZ0zypKmtaBgQnPt0tUNElFSkhLUFhZUzJEQzdPWUFLR0Y1R1VWTCQlQCN0PWcu">Feedback</a>
    </span>
</div>
