@inherits LayoutComponentBase

@inject SvgHelper svgHelper

<div class="no-vertical">
    <div class="main">
        <div class="content">
            @svgHelper.GetImage($"/assets/images/svg/horizontal_mobile.svg")
            <p>
                This game is only available in horizontal mode
            </p>
        </div>
    </div>
    <div class="background"></div>
    <div class="stars-container">
        <div class="stars-item-1"></div>
        <div class="stars-item-2"></div>
        <div class="stars-item-3"></div>
    </div>
</div>

<div class="stars-container">
    <div class="stars-item-1"></div>
    <div class="stars-item-2"></div>
    <div class="stars-item-3"></div>
</div>

@Body

<Footer />