@inherits LayoutComponentBase

<div class="stars-container">
    <div class="stars-item-1"></div>
    <div class="stars-item-2"></div>
    <div class="stars-item-3"></div>
</div>

@Body

<Footer />