/********** Fonts **********/

@font-face {
    font-family: "Voyager";
    src: url("../fonts/Voyager/Voyager_Light.otf");
}


/********** Titles **********/

.title {
    height: 50px;
    margin: 70px 0 0 0;
    color: #ffaa44;
    font-family: "Voyager";
    font-weight: 300;
    font-size: 3rem;
    text-align: center;
    line-height: 3rem;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.9);
}

.subtitle {
    height: 30px;
    margin: 10px 0 30px 0;
    color: #ffffff;
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    text-align: center;
}


/********** Globals **********/

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    font-family: "Segoe UI", sans-serif;
    background-image: url(../img/background.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.hide {
    display: none !important;
}


/********** Layout **********/

.app {
    background-size: 100%;
    flex-direction: column;
    display: flex;
    width: 100%;
    background-image: url(../img/screens_panel.svg), url(../img/platform_opponents.svg);
    background-repeat: no-repeat;
    background-position-y: 4vh, top;
}

.app-content {
    display: flex;
    flex-direction: row;
    margin-top: 10vh;
    width: 100%;
    justify-content: space-around;
}

.console-controls {
    padding-top: 2vw;
    height: 27.4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 2;
}

.console-controls>img {
    max-height: 100%;
}


/********** Consoles layout **********/

.console-screen {
    height: 25vw;
    flex: 4;
    margin: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-image: url(../img/console_background.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center top;
}

.console-screen>div {
    height: 20vw;
}

.console-text {
    font-family: Voyager;
    color: #ffffff;
    display: flex;
    height: 1.8vw;
    font-size: 1rem;
    margin: 5px auto;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.9);
    box-shadow: 0px -8px 12px -1px rgba(72, 52, 133, 0.56);
    text-align: center;
    vertical-align: middle;
}


/********** User console **********/

.cam-recorder-container {
    position: relative;
    margin: 25px 40px;
    border-radius: 10px;
}

.cam-recorder-container img {
    position: absolute;
    width: 5vw;
    top: 1.7vw;
    right: 1vw;
    opacity: 1;
    background: #53398d;
    border-radius: 100px;
}

.console-screen video,
.console-screen canvas {
    height: auto;
    width: 100%;
    max-width: 24vw
}

.console-screen>div.restart-button {
    height: auto;
    position: relative;
    top: 30px;
}


/********** Actions And buttons **********/

.app-action {
    display: flex;
    flex: 2;
    justify-content: center;
    align-items: center;
}

.app-counter {
    display: flex;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    box-shadow: inset 0px 0px 0px 10px #231547;
    align-items: center;
    justify-content: center;
    cursor: default;
    font-family: "Voyager";
    font-size: 3.5rem;
    color: #956dea;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.9);
}


/********** Bot console **********/

.opponent-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.opponent-container>img {
    height: 100%;
    width: auto;
}

.bot-pick {
    height: 10vw;
    width: 10vw;
    border-radius: 100%;
    background: #492f93;
    box-shadow: inset 0px 0px 0px 2px #492f93;
    box-sizing: border-box;
}

.bot-pick img {
    width: 100%;
    height: auto;
}