@layout MainLayout
@page "/notfound"

<div class="not_found">
    <div class="not_found-ground"></div>
    <div class="not_found-text">
        <div class="not_found-msg">Damn!! Don't trust humans!!</div>
        <div class="not_found-err"><span>404</span></div>
        <a href="/" class="not_found-link">Back to the game</a>
    </div>
</div>
