@page "/"

@using RPSLS.Web.Config
@using Microsoft.Extensions.Options

@namespace RPSLS.Web.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject IOptions<GoogleAnalyticsSettings> options

<!DOCTYPE html>
<html lang="en">
<head>
    @if (!string.IsNullOrWhiteSpace(options.Value.GoogleAnalytics))
    {
        <script async src="https://www.googletagmanager.com/gtag/js?id=@options.Value.GoogleAnalytics"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());
            gtag('config', '@options.Value.GoogleAnalytics');
        </script>
    }
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rock, Scissors, Paper, Lizard, Spock – Play the game now</title>
    <base href="~/" />
    <link rel="icon" href="favicon.ico">
    <link href="css/main.css" rel="stylesheet" />
    <link href="css/reconnect.css" rel="stylesheet" />
    <link href="css/stars.css" rel="stylesheet" />
    <link href="css/controls.css" rel="stylesheet" />
    <link href="css/index.css" rel="stylesheet" />
    <link href="css/challengers.css" rel="stylesheet" />
    <link href="css/battle.css" rel="stylesheet" />
    <link href="css/console.css" rel="stylesheet" />
    <link href="css/mainTitle.css" rel="stylesheet" />
    <link href="css/result.css" rel="stylesheet" />
    <link href="css/no-vertical.css" rel="stylesheet" />
    <link href="css/not-found.css" rel="stylesheet" />
</head>
<body>
    <app>
        @(await Html.RenderComponentAsync<App>(RenderMode.Server))
    </app>
    <script src="_framework/blazor.server.js"></script>
    <script src="/js/tf.min.js"></script>
    <script src="/js/main.js"></script>
    <div id="components-reconnect-modal" class="reconnect-modal components-reconnect-hide">
        <div>
            <h1>Could not reconnect to the server.</h1>
            <h2>Have fun defeating our bot with your <a href="/challenger">language of choice</a>!</h2>
        </div>
    </div>
</body>
</html>