@layout MainLayout
@page "/leaderboard"

@inject IMultiplayerGameService Game

<div class="index-content">
    <img class="lb-astronaut" src="/assets/images/png/astronaut-bg.png" />
    <img class="lb-spaceship" src="/assets/images/png/spaceship-bg.png" />
    <div class="leaderboard-container">
        <h1 class="leaderboard-title">THE LEADERBOARD</h1>
        <h2 class="leaderboard-subtitle">Only Twitter users will be shown on the leaderboard.</h2>
        <p class="info-contest">
            April 17th - May 15th, play to get to a chance to win awesome prizes.
            <a href="/assets/pdfs/RPSLS_Rules.pdf" target="_blank">See Rules</a>
            for more information.
        </p>
        <table class="leaderboard">
            <thead>
                <tr>
                    <th class="lb-position">Position</th>
                    <th class="lb-user">Name</th>
                    <th class="lb-points">Number of wins</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var player in Board.Players)
                {
                    <tr>
                        <td class="lb-position"><span>@player.Position.ToString("00")</span></td>
                        <td class="lb-user"><span>@player.Username</span></td>
                        <td class="lb-points">@player.Score</td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="leaderboard-powered">
            <p>Powered by <a href="https://playfab.com/" target="_blank">Playfab</a></p>
        </div>
        <div class="leaderboard-buttons">
            <div class="custom-button">
                <a class="custom-button-link" href="/">play again</a>
            </div>
        </div>
    </div>
</div>

<CookiesBanner />

<style type="text/css" media="screen and (max-width:768px)">
    html, body {
        height: 105vh;
        padding-bottom: 14px;
    }

    .footer {
        position: fixed;
        z-index: -1;
    }
</style>

@code
{
    public LeaderboardDto Board { get; set; }

    protected override async Task OnInitializedAsync()
    {
      this.Board = new LeaderboardDto
      {
    Players = new List<LeaderboardEntryDto>()
      };

      this.Board = await Game.GetLeaderboard();
    }
}
