/********** Fonts **********/

@font-face {
    font-family: "Voyager";
    src: url("../fonts/Voyager/Voyager_Light.otf");
}


/********** Titles **********/

.title {
    height: 50px;
    margin: 70px 0 0 0;
    color: #ffaa44;
    font-family: "Voyager";
    font-weight: 300;
    font-size: 3rem;
    text-align: center;
    line-height: 3rem;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.9);
}

.subtitle {
    height: 30px;
    margin: 10px 0 30px 0;
    color: #ffffff;
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    text-align: center;
}


/********** Globals **********/

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    font-family: "Segoe UI", sans-serif;
    background-image: url(../img/background.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.hide {
    display: none !important;
}